<div class="row">
  <div class="pull-right">
    <%= form_tag root_url, method: 'get', id: 'search_form' do %>
      <%= text_field_tag :search, params[:search], class: 'search-query', placeholder: "Search..." %>
      <%= link_to "Clear", root_url %>
    <% end %>
  </div>
  <div class="span8">
    <%= link_to "I Have a Question!", new_question_path, id: 'new_question_link', class: 'btn btn-success btn-large' %>
    <%= render 'form' %>
  </div>
</div>
<br/>
<br/>

<div class="row">
  <div class="span4">
    <label>
    Sort by: 
    <%= link_to "Most Recent", questions_url %> |
    <%= link_to "Most Popular", questions_url(sort: :popular) %> 
    </label>
  </div>
  <div class="span4">
    <%= form_tag questions_url, method: 'get', id: 'toggle_form' do %>
      <label class="checkbox">
        <%= check_box_tag :answered, "1", params[:answered].present? %>Show answered questions
      </label>
    <% end %>
  </div>
</div>
<div class="row">
  <table class="table span12 questions">
    <thead>
      <tr>
        <th>Votes</th>
        <th>Question</th>
      </tr>
    <tbody>
      <%= render @questions %>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="pull-right"><%= paginate @questions %></div>
</div>
